/* STYLING APPLIED TO ALL */ 
/* GENERAL CLASSES */
  
.title{
    font-family: 'Coustard', serif;
    font-size: 55px;
    text-align: center;
    content: center;
    position: relative;
    top: 5vh;
}
/*

/* NAV 
background: #5D737E;
*/
    body 
    {
      font-family: "Coustard", serif;
      overflow-x: hidden; 
    }
    
    a
    {
      text-decoration: none;
      color: #232323;
      
      transition: color 0.3s ease;
    }
    
    a:hover
    {
      color: #67845E;
    }
    
    #menuToggle
    {
      display: block;
      position: absolute;
      top: 10vh;
      right: 5vw;
      
      z-index: 1;
      
      -webkit-user-select: none;
      user-select: none;
    }
    
    #menuToggle input
    {
      display: block;
      width: 20vw;
      height: 20vh;
      position: absolute;
      top: -100px;
      left: -100px;
      
      cursor: pointer;
      
      opacity: 0; /* hide this */
      z-index: 2; /* and place it over the hamburger */
      
      -webkit-touch-callout: none;
    }
    
    /* making the hamburger */
    #menuToggle span
    {
      display: block;
      width: 33px;
      height: 4px;
      margin-bottom: 5px;
      position: relative;
      
      background: #5f4444;
      border-radius: 3px;
      
      z-index: 1;
      
      transform-origin: 4px 0px;
      
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  opacity 0.55s ease;
    }
    
    #menuToggle span:first-child
    {
      transform-origin: 0% 0%;
    }
    
    #menuToggle span:nth-last-child(2)
    {
      transform-origin: 0% 100%;
    }
    
    /* 
     * Transform all the slices of hamburger
     * into a crossmark.
     */
    #menuToggle input:checked ~ span
    {
      opacity: 1;
      transform: rotate(45deg) translate(-2px, -1px);
      background: #695c4d;
    }
    #menuToggle input:checked ~ span:nth-last-child(3)
    {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }
    #menuToggle input:checked ~ span:nth-last-child(2)
    {
      opacity: 1;
      transform: rotate(-45deg) translate(0, -1px);
    }
    
    #menu
    {
      position: absolute;
      width: 200px;
      margin: -100px 0 0 0;
      padding: 20px;
      padding-top: 125px;
      right: -100px;
      
      background: #ece8d7;
      list-style-type: none;
      -webkit-font-smoothing: antialiased;

      /* to stop flickering of text in safari */
      transform-origin: 0% 0%;
      transform: translate(100%, 0);
      
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
    
    #menu li
    {
      padding: 10px 0;
      font-size: 22px;
    }

    #menuToggle input:checked ~ ul
    {
      transform: scale(1.0, 1.0);
      opacity: 1;
    }







/* HOME */
#home{
    background-color: #DFF3E3;
    height: 105vh;
}

#title{
    color:#312404;
    font-family: 'Coustard', serif;
    font-size: 70px;
    text-align: center;
    content: center;
}
.titleName{
    content: center;
    position: relative;
    top: 20vh;
}
#titledesc{
    color:#312404;
    font-family: 'Lora', serif;
    font-size: 27px;
    text-align: center;   
}
.titleDesc{
    content: center;
    position: relative;
    top: 20vh;
}
.icecreamscoops{
    
    background-image: url(images/mysweetworld.svg);
    
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 26vh;
    max-height: 100vh;
}

/* FOOTER */
#footer{
    background-color: #223843;
}
.info-footer{
    background-color: #223843;
    font-family: 'Lora', serif;
    font-size: 25px;
    color: #F7E3AF;
    position: relative;
    height: 150px;
}
.footer-linkedin{
    color: #F7E3AF;
    font-family: 'Lora', serif;
    font-size: 20px;
    text-align: center;
    line-height: 35px;
    border-radius: 32px;
    transition: all 0.5s ease 0.3s;
}
.footer-linkedin:hover{
    color: #fcf1f7;
    background-color: #0e76a8;
    border-color: #0e76a8;
    border-radius: 32px;
}
.footer-dribbble{
    color: #F7E3AF;
    font-family: 'Lora', serif;
    font-size: 20px;
    text-align: center;
    line-height: 35px;
    border-radius: 32px;
    transition: all 0.5s ease 0.3s;
}
.footer-dribbble:hover{
    color: #fcf1f7;
    background-color: #ea4c89;
    border-color: #ea4c89;
    border-radius: 32px;
}
.footer-handshake{
    color: #F7E3AF;
    font-family: 'Lora', serif;
    font-size: 20px;
    text-align: center;
    line-height: 35px;
    border-radius: 32px;
    transition: all 0.5s ease 0.3s;   
}
.footer-handshake:hover{
    color: #fcf1f7;
    background-color: #FC2020;
    border-color: #FC2020;
    border-radius: 32px;
}

/*  CONTACT */
#contact{
    background-color: #223843;
}
.contact-button{
    color: #FAFCF5;
    background-color: #67845E;
    border-color: #67845E;
    font-family: 'Coustard', serif;
    font-size: 30px;
    text-align: center;
    line-height: 40px;
    border: 2px solid #67845E;
    border-radius: 35px;
    transition: all 0.5s ease 0.3s;
}
.contact-button:hover{
    color: rgb(52, 59, 32);
    background-color: #90A589;
    border-color: #90A589;   
    border-radius: 40px;
}
.contact-title{
    color: #F7E3AF;
    font-family: 'Coustard', serif;
    font-size: 40px;
    text-align: center;
}

/* WORKS */
#works{
    background-color: #C7D8C6;
}
.works-title{
    font-family: 'Coustard', serif;
    font-size: 40px;
    color:#312404;
    text-align: center;       
}
.works-desc{
    font-family: 'Lora', serif;
    font-size: 25px;
    color:#303633;
    text-align: center;  
    position: relative;
    top: 10vh;
    height: 30vh;
    padding: 10px 15px 30px 30px;
}
.works-preview{
    position: relative;
    top: 8vh;
}

.mc21-section{
    background-color: #d5d5cd;
    height: 250vh;   
}

.mc21-desc{
    font-family: 'Lora', serif;
    font-size: 25px;
    color:#312404;    
}

.cz-section{
    background-color: #d5d5cd;
    height: 150vh;   
}

.cz-desc{
    font-family: 'Lora', serif;
    font-size: 25px;
    color:#312404;    
}

.cb-section{
    background-color: #B6C197;
    height: 250vh;
}
.cb-desc{
    font-family: 'Lora', serif;
    font-size: 25px;
    color:#312404;    
}
.cb-button{
    color: #F7E3AF;
    background-color:#312404;
    font-family: 'Lora', serif;
    font-size: 23px;
    text-align: center;
    line-height: 40px;
    border: 2px solid #312404;
    border-radius: 35px;
    transition: all 0.5s ease 0.3s;
}
.cb-button:hover{
    color: #F7E3AF;
    background-color: #695F48;
    border-color: #695F48;   
}

.sga-title{
    font-family: 'Coustard', serif;
    font-size: 40px;
    color: #383838;
}
.sga-section{
    background-color: #ddd1c7;
    height: 275vh;
}
.sga-desc{
    font-family: 'Lora', serif;
    font-size: 23px;
    content: center;
    text-align: center; 
    display: block;
    color:#383838;
    max-width: 800px;    
}
.sga-button{
    color: #ddd1c7;
    background-color:#8e0f16;
    font-family: 'Coustard', serif;
    font-size: 23px;
    text-align: center;
    line-height: 40px;
    border: 2px solid #8e0f16;
    border-radius: 35px;
    transition: all 0.5s ease 0.3s;
}
.sga-button:hover{
    color: #F7E3AF;
    background-color: #d11c25;
    border-color: #d11c25;   
}
/*NSP*/
.nsp-title{
    font-family: 'Coustard', serif;
    font-size: 40px;
    color: #1A2D6B;
    text-align: center;
}
.nsp-section{
    background-color: #9D9DAA;
    height: 165vh;
}
.nsp-desc{
    font-family: 'Lora', serif;
    font-size: 23px;
    color:#1A2D6B;   
    content: center;
    text-align: center; 
    display: block;
    max-width: 800px;
}
.nsp-button{
    color: #1A2D6B;
    background-color:#f0aa27;
    font-family: 'Coustard', serif;
    font-size: 23px;
    text-align: center;
    line-height: 40px;
    border: 2px solid #f0aa27;
    border-radius: 35px;
    transition: all 0.5s ease 0.3s;
}
.nsp-button:hover{
    color: #1A2D6B;
    background-color: #f3b84b;
    border-color: #f3b84b;   
}






/* RESUME */
#resume{
    background-color: #f1eee1;
}
.resume-hero{
    padding-top: 8vh;
    margin-bottom: 8vh;
}
.resume-desc{
    width: 75vw;
    padding-left: 5vw;
    margin-bottom: 2vh;
}
.resume-heading{
    margin-top: 10vh;
    font-size: 30px;
    color:#382f2e;
}
.resume-chip1{
    display: inline-block;
    padding: 0px 15px;
    height: 35px;
    font-size: 18px;
    line-height: 35px;
    border-radius: 20px;
    color: #382f2e;
    background-color: #bdc3b8;
    margin: 2px 2px 2px 2px;
}
.resume-chip2 { 
    display: inline-block;
    padding: 0px 15px;
    height: 35px;
    font-size: 18px;
    line-height: 35px;
    border-radius: 20px;
    color: #382f2e;
    background-color: #c9b19b;
    margin: 2px 2px 2px 2px;
}
.resume-chip3 {
    display: inline-block;
    padding: 0px 15px;
    height: 35px;
    font-size: 18px;
    line-height: 35px;
    border-radius: 20px;
    color: #382f2e;
    background-color: #c4beb5;
    margin: 2px 2px 2px 2px;
}
.resume-chip4{
    display: inline-block;
    padding: 0px 15px;
    height: 35px;
    font-size: 18px;
    line-height: 35px;
    border-radius: 20px;
    color: #382f2e;
    background-color: #d69b69;
    margin: 2px 2px 2px 2px;
} 
.resume-chip5{
    display: inline-block;
    padding: 0px 15px;
    height: 35px;
    font-size: 18px;
    line-height: 35px;
    border-radius: 20px;
    color: #382f2e;
    background-color: #bdada2;
    margin: 2px 2px 2px 2px;
} 
.resume-chip6{
    display: inline-block;
    padding: 0px 15px;
    height: 35px;
    font-size: 18px;
    line-height: 35px;
    border-radius: 20px;
    color: #382f2e;
    background-color: #d69b69;
    margin: 2px 2px 2px 2px;
} 
.resume{
    content: center;
    min-height: 100vh;
}
.resume-body{
    font-family: 'Lora', serif;
    color: #23221c;
    font-size: 20px;
    width: 75vw;
    right: 5vw;
}
.resume-button{
    font-family: 'Coustard', serif;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    background-color: #94828d;
    color:#eee6cf;
    border:2px solid #94828d;
    border-radius: 35px;
    transition: all 0.5s ease 0.3s;
}
.resume-button:hover{
    background-color: #695e65;
    color:#f3eddc;
    border:2px solid #695e65;
}
.resume-class{
    width: 60vw;
}
.resume-rb-container
{
    font-size: 20px;
    margin-top: 5vh;
    width: 60vw;
}
.resume-rb
{
    color:#99621e;
    width: 60vw;
}

.skill-ux{
    display: inline-block;
    padding: 0px 10px;
    height: 25px;
    font-size: 16px;
    line-height: 25px;
    border-radius: 20px;
    color: #382f2e;
    background-color: #d69b69;
    margin: 2px 2px 2px 2px;
}


.skill-ui{
    display: inline-block;
    padding: 0px 10px;
    height: 25px;
    font-size: 16px;
    line-height: 25px;
    border-radius: 20px;
    color: #382f2e;
    background-color: #CACCC4;
    margin: 2px 2px 2px 2px;
}
.skill-wp{
    display: inline-block;
    padding: 0px 10px;
    height: 25px;
    font-size: 16px;
    line-height: 25px;
    border-radius: 20px;
    color: #382f2e;
    background-color: #C7BDC1;
    margin: 2px 2px 2px 2px;
}

.-heading{
    font-family: 'Coustard', serif;
    color: #363020;
    font-size: 25px;
}
.resume-subheading{
    font-family: 'Lora', serif;
    color: #363020;
    font-size: 20px;
}


/* FOR DEVICE SIZES SPECIFICITY */
/* Extra small devices (phones, 600px and down) 8F2D56: DARK RASPBERRY*/
@media only screen and (max-width: 600px) {
    /* NAV */
    .nav-style{
        font-family: 'Coustard', serif;
        font-size: 30px;
        color:#312404;
        background-color: #5D737E;
    }
    /*ABOUT #D0ADA7;*/     
    .aboutclass{
        background-color: #C7D8C6;
    }
    .about-me{
        background-color: #C7D8C6;
        font-family: 'Lora', serif;
        font-size: 20px;
        color:#312404;
        height: 100vh;
        position: relative;
        top: 3vh; 
    }
    .about-desc{
        content: center;
        position: relative;
        top: 7vh; 
    }
    .bio-pic{
        max-width: 150px;
        max-height: 150px;
        position: relative; 
        top: 3vh;
        content: center;
    }
   /* .shadow-pic{
        max-width: 150px;
        position: relative; 
        top: 3vh;
    }
    */
    .shadow-pic2{
        padding-top: 30vh;
    }
/* CONTACT */
    #contact{
        background-color: #223843;
    }
    .contact-button{
        color: #FAFCF5;
        background-color: #67845E;
        border-color: #67845E;
        font-family: 'Coustard', serif;
        font-size: 30px;
        text-align: center;
        line-height: 40px;
        border: 2px solid #67845E;
        border-radius: 35px;
        transition: all 0.5s ease 0.3s;
    }
    .contact-button:hover{
        color: rgb(52, 59, 32);
        background-color: #90A589;
        border-color: #90A589;   
        border-radius: 40px;
    }
    .contact-title{
        color: #F7E3AF;
        font-family: 'Coustard', serif;
        font-size: 40px;
        text-align: center;
    }
    
    /* FOOTER */
#footer{
    background-color: #223843;
}
.info-footer{
    background-color: #223843;
    font-family: 'Lora', serif;
    font-size: 20px;
    color: #F7E3AF;
    position: relative;
    height: 150px;
}
.footer-linkedin{
    color: #F7E3AF;
    font-family: 'Lora', serif;
    font-size: 18px;
    text-align: center;
    line-height: 35px;
    border-radius: 32px;
    transition: all 0.5s ease 0.3s;
}
.footer-linkedin:hover{
    color: #fcf1f7;
    background-color: #0e76a8;
    border-color: #0e76a8;
    border-radius: 32px;
}
.footer-dribbble{
    color: #F7E3AF;
    font-family: 'Lora', serif;
    font-size: 18px;
    text-align: center;
    line-height: 35px;
    border-radius: 32px;
    transition: all 0.5s ease 0.3s;
}
.footer-dribbble:hover{
    color: #fcf1f7;
    background-color: #ea4c89;
    border-color: #ea4c89;
    border-radius: 32px;
}
.footer-handshake{
    color: #F7E3AF;
    font-family: 'Lora', serif;
    font-size: 18px;
    text-align: center;
    line-height: 35px;
    border-radius: 32px;
    transition: all 0.5s ease 0.3s;   
}
.footer-handshake:hover{
    color: #fcf1f7;
    background-color: #FC2020;
    border-color: #FC2020;
    border-radius: 32px;
}
    /* WORKS */
    .cb-desc{
        font-family: 'Lora', serif;
        font-size: 23px;
        color:#312404;    
        text-align: center; 
        content: center;
        display: block;
        max-width: 800px;
    }
    .cb-button{
        color: #F7E3AF;
        background-color:#312404;
        font-family: 'Coustard', serif;
        font-size: 23px;
        text-align: center;
        line-height: 40px;
        border: 2px solid #695F48;
        border-radius: 35px;
        transition: all 0.5s ease 0.3s;
    }
    /* RESUME */
    .resume-chip2-assembly {
        display: inline-block;
        padding: 0px 30px;
        height: 30px;
        font-size: 15px;
        line-height: 30px;
        border-radius: 23px;
        color: #382f2e;
        background-color: #c4beb5;
        margin: 1px 1px 1px 1px;
    }
    .resume-chip4-intro{
        display: inline-block;
        padding: 0px 30px;
        height: 30px;
        font-size: 16px;
        line-height: 30px;
        border-radius: 23px;
        color: #382f2e;
        background-color: #c9b19b;
        margin: 1px 1px 1px 1px;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) D81159 RUBY*/
@media only screen and (min-width: 600px) {
    /* GENERAL */
    .title{
        color:#312404;
        font-family: 'Coustard', serif;
        font-size: 45px;
        text-align: center;
        content: center;
        position: relative;
        top: 5vh;
    }
    /* ABOUT */    
    .aboutclass{
        background-color: #C7D8C6 !important;
        height: 150vh;
    }
    .about-me{
        background-color: #C7D8C6 !important;
        font-family: 'Lora', serif;
        font-size: 20px;
        color:#312404;
        text-align: center;
        height: 100vh;
        position: relative;
        top: 3vh; 
    }
    .about-desc{
        content: center;
        position: relative;
        top: 10vh; 
    }
    .bio-pic{
        max-width: 180px;
        max-height: 180px;
        position: relative; 
        top: 3vh;
        content: center;
    }
    /*
    .shadow-pic{
        max-width: 150px;
        position: relative; 
        top: 3vh;
    }
    .shadow-pic2{
        max-width: 200px;
        position: relative; 
        top: 3vh;
    }
/* CONTACT */
    #contact{
        background-color: #223843;
    }
    .contact-button{
        color: #FAFCF5;
        background-color: #67845E;
        border-color: #67845E;
        font-family: 'Coustard', serif;
        font-size: 30px;
        text-align: center;
        line-height: 40px;
        border: 2px solid #67845E;
        border-radius: 35px;
        transition: all 0.5s ease 0.3s;
        position: relative;
        top: 2vh;
    }
    .contact-button:hover{
        color: rgb(52, 59, 32);
        background-color: #90A589;
        border-color: #90A589;   
        border-radius: 40px;
    }
    .contact-title{
        color: #F7E3AF;
        font-family: 'Coustard', serif;
        font-size: 40px;
        text-align: center;
        position: relative;
        top: 2vh;
    }
    /* FOOTER */
#footer{
    background-color: #223843;
}
.info-footer{
    background-color: #223843;
    font-family: 'Lora', serif;
    font-size: 25px;
    color: #F7E3AF;
    position: relative;
    height: 150px;
}
.footer-linkedin{
    color: #F7E3AF;
    font-family: 'Lora', serif;
    font-size: 20px;
    text-align: center;
    line-height: 35px;
    border-radius: 32px;
    transition: all 0.5s ease 0.3s;
}
.footer-linkedin:hover{
    color: #fcf1f7;
    background-color: #0e76a8;
    border-color: #0e76a8;
    border-radius: 32px;
}
.footer-dribbble{
    color: #F7E3AF;
    font-family: 'Lora', serif;
    font-size: 20px;
    text-align: center;
    line-height: 35px;
    border-radius: 32px;
    transition: all 0.5s ease 0.3s;
}
.footer-dribbble:hover{
    color: #fcf1f7;
    background-color: #ea4c89;
    border-color: #ea4c89;
    border-radius: 32px;
}
.footer-handshake{
    color: #F7E3AF;
    font-family: 'Lora', serif;
    font-size: 20px;
    text-align: center;
    line-height: 35px;
    border-radius: 32px;
    transition: all 0.5s ease 0.3s;   
}
.footer-handshake:hover{
    color: #fcf1f7;
    background-color: #FC2020;
    border-color: #FC2020;
    border-radius: 32px;
}
    /* WORKS */
    .cb-desc{
        font-family: 'Lora', serif;
        font-size: 20px;
        color:#312404;    
        text-align: center; 
        content: center;
        display: block;
        max-width: 800px;
    }
    .cb-button{
        font-family: 'Coustard', serif;
        font-size: 25px;
        text-align: center;
    }
    /* RESUME */
    .resume-chip2-assembly{
        display: inline-block;
        padding: 0px 20px;
        height: 35px;
        font-size: 17px;
        line-height: 35px;
        border-radius: 23px;
        color: #382f2e;
        background-color: #c4beb5;
        margin: 2px 2px 2px 2px;
    }
    .resume-chip4-intro{
        display: inline-block;
        padding: 0px 20px;
        height: 35px;
        font-size: 17px;
        line-height: 35px;
        border-radius: 23px;
        color: #382f2e;
        background-color: #c9b19b;
        margin: 1px 1px 1px 1px;
    }
    
} 

/* Medium devices (landscape tablets, 768px and up) FFBC42: YELLOW */
@media only screen and (min-width: 768px) {
    /*ABOUT*/ 
    .aboutclass{
        background-color: #C7D8C6 !important;
        height: 160vh;
    }
    .about-me{
        background-color: #C7D8C6 !important;
        font-family: 'Lora', serif;
        font-size: 25px;
        color:#312404;
        text-align: center;
        height: 120vh;
        position: relative;
        top: 3vh; 
    }
    .about-desc{
        content: center;
        position: relative;
        top: 10vh; 
    }
    .bio-pic{
        max-width: 200px;
        max-height: 200px;
        position: relative; 
        top: 3vh;
        content: center;
    }
    /*
    .shadow-pic{
        max-width: 130px;
        position: relative; 
        top: 3vh;
    }
    .shadow-pic2{
        max-width: 180px;
        position: relative; 
        top: 3vh;
    }
/* CONTACT */
    #contact{
        background-color: #223843;
    }
    .contact-button{
        color: #FAFCF5;
        background-color: #67845E;
        border-color: #67845E;
        font-family: 'Coustard', serif;
        font-size: 30px;
        text-align: center;
        line-height: 40px;
        border: 2px solid #67845E;
        border-radius: 35px;
        transition: all 0.5s ease 0.3s;
    }
    .contact-button:hover{
        color: rgb(52, 59, 32);
        background-color: #90A589;
        border-color: #90A589;   
        border-radius: 40px;
    }
    .contact-title{
        color: #F7E3AF;
        font-family: 'Coustard', serif;
        font-size: 40px;
        text-align: center;
    }
    /* FOOTER */
#footer{
    background-color: #223843;
}
.info-footer{
    background-color: #223843;
    font-family: 'Lora', serif;
    font-size: 25px;
    color: #F7E3AF;
    position: relative;
    height: 150px;
}
.footer-linkedin{
    color: #F7E3AF;
    font-family: 'Lora', serif;
    font-size: 20px;
    text-align: center;
    line-height: 35px;
    border-radius: 32px;
    transition: all 0.5s ease 0.3s;
}
.footer-linkedin:hover{
    color: #fcf1f7;
    background-color: #0e76a8;
    border-color: #0e76a8;
    border-radius: 32px;
}
.footer-dribbble{
    color: #F7E3AF;
    font-family: 'Lora', serif;
    font-size: 20px;
    text-align: center;
    line-height: 35px;
    border-radius: 32px;
    transition: all 0.5s ease 0.3s;
}
.footer-dribbble:hover{
    color: #fcf1f7;
    background-color: #ea4c89;
    border-color: #ea4c89;
    border-radius: 32px;
}
.footer-handshake{
    color: #F7E3AF;
    font-family: 'Lora', serif;
    font-size: 20px;
    text-align: center;
    line-height: 35px;
    border-radius: 32px;
    transition: all 0.5s ease 0.3s;   
}
.footer-handshake:hover{
    color: #fcf1f7;
    background-color: #FC2020;
    border-color: #FC2020;
    border-radius: 32px;
}
    /* WORKS */
    .cb-desc{
        font-family: 'Lora', serif;
        font-size: 25px;
        color:#312404;    
        text-align: center; 
        content: center;
        display: block;
        max-width: 800px;
    }
    .cb-button{
        font-family: 'Coustard', serif;
        font-size: 25px;
        text-align: center;
    }
} 

/* Large devices (laptops/desktops, 992px and up) 0496FF: AZURE*/
@media only screen and (min-width: 992px) {
    /*ABOUT*/    
    .aboutclass{
        background-color: #C7D8C6 !important;
        min-height: 130vh;
        max-height: 160vh;
    }
    .about-me{
        background-color: #C7D8C6 !important;
        font-family: 'Lora', serif;
        font-size: 25px;
        color:#312404;
        text-align: center;
        height: 120vh;
        position: relative;
        top: 3vh; 
    }
    .about-desc{
        content: center;
        position: relative;
        top: 10vh; 
    }
    .bio-pic{
        max-width: 250px;
        max-height: 250px;
        position: relative; 
        top: 3vh;
        content: center;
    }
    /*
    .shadow-pic{
        max-width: 120px;
        position: relative; 
        top: 3vh;
    }
    .shadow-pic2{
        max-width: 375px;
        position: relative; 
        top: 3vh;
    }
/* CONTACT */
    #contact{
        background-color: #223843;
    }
    .contact-button{
        color: #FAFCF5;
        background-color: #67845E;
        border-color: #67845E;
        font-family: 'Coustard', serif;
        font-size: 30px;
        text-align: center;
        line-height: 40px;
        border: 2px solid #67845E;
        border-radius: 35px;
        transition: all 0.5s ease 0.3s;
    }
    .contact-button:hover{
        color: rgb(52, 59, 32);
        background-color: #90A589;
        border-color: #90A589;   
        border-radius: 40px;
    }
    .contact-title{
        color: #F7E3AF;
        font-family: 'Coustard', serif;
        font-size: 40px;
        text-align: center;
    }
    /* FOOTER */
#footer{
    background-color: #223843;
}
.info-footer{
    background-color: #223843;
    font-family: 'Lora', serif;
    font-size: 25px;
    color: #F7E3AF;
    position: relative;
    height: 150px;
}
.footer-linkedin{
    color: #F7E3AF;
    font-family: 'Lora', serif;
    font-size: 20px;
    text-align: center;
    line-height: 35px;
    border-radius: 32px;
    transition: all 0.5s ease 0.3s;
}
.footer-linkedin:hover{
    color: #fcf1f7;
    background-color: #0e76a8;
    border-color: #0e76a8;
    border-radius: 32px;
}
.footer-dribbble{
    color: #F7E3AF;
    font-family: 'Lora', serif;
    font-size: 20px;
    text-align: center;
    line-height: 35px;
    border-radius: 32px;
    transition: all 0.5s ease 0.3s;
}
.footer-dribbble:hover{
    color: #fcf1f7;
    background-color: #ea4c89;
    border-color: #ea4c89;
    border-radius: 32px;
}
.footer-handshake{
    color: #F7E3AF;
    font-family: 'Lora', serif;
    font-size: 20px;
    text-align: center;
    line-height: 35px;
    border-radius: 32px;
    transition: all 0.5s ease 0.3s;   
}
.footer-handshake:hover{
    color: #fcf1f7;
    background-color: #FC2020;
    border-color: #FC2020;
    border-radius: 32px;
}
    /* WORKS */
    .cb-desc{
        font-family: 'Lora', serif;
        font-size: 25px;
        color:#312404;    
        text-align: center; 
        content: center;
        display: block;
        max-width: 800px;
    }
    .cb-button{
        font-family: 'Lora', serif;
        font-size: 25px;
        text-align: center;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) 006BA6: SAPPHIRE BLUE*/
@media only screen and (min-width: 1200px) {
/*ABOUT*/
@import "@material/switch/mdc-switch";
    .aboutclass{
        background-color: #C7D8C6 !important;
        height: 160vh;
    }
    .about-me{
        background-color: #C7D8C6 !important;
        font-family: 'Lora', serif;
        font-size: 25px;
        color:#312404;
        text-align: center;
        height: 120vh;
        position: relative;
        top: 3vh; 
    }
    .about-desc{
        content: center;
        position: relative;
        top: 10vh; 
    }
    .bio-pic{
        max-width: 300px;
        max-height: 300px;
        position: relative; 
        top: 3vh;
        content: center;
    }
    /*
    .shadow-pic{
        max-width: 175px;
        position: relative; 
        top: 3vh;
    }
    .shadow-pic2{
        max-width: 400px;
        position: relative; 
        top: 3vh;
    }
/* CONTACT */
    #contact{
        background-color: #223843;
    }
    .contact-button{
        color: #FAFCF5;
        background-color: #67845E;
        border-color: #67845E;
        font-family: 'Coustard', serif;
        font-size: 30px;
        text-align: center;
        line-height: 40px;
        border: 2px solid #67845E;
        border-radius: 35px;
        transition: all 0.5s ease 0.3s;
    }
    .contact-button:hover{
        color: rgb(52, 59, 32);
        background-color: #90A589;
        border-color: #90A589;   
        border-radius: 40px;
    }
    .contact-title{
        color: #F7E3AF;
        font-family: 'Coustard', serif;
        font-size: 40px;
        text-align: center;
    }
/* FOOTER */
#footer{
    background-color: #223843;
}
.info-footer{
    background-color: #223843;
    font-family: 'Lora', serif;
    font-size: 25px;
    color: #F7E3AF;
    position: relative;
    height: 150px;
}
.footer-linkedin{
    color: #F7E3AF;
    font-family: 'Lora', serif;
    font-size: 20px;
    text-align: center;
    line-height: 35px;
    border-radius: 32px;
    transition: all 0.5s ease 0.3s;
}
.footer-linkedin:hover{
    color: #fcf1f7;
    background-color: #0e76a8;
    border-color: #0e76a8;
    border-radius: 32px;
}
.footer-dribbble{
    color: #F7E3AF;
    font-family: 'Lora', serif;
    font-size: 20px;
    text-align: center;
    line-height: 35px;
    border-radius: 32px;
    transition: all 0.5s ease 0.3s;
}
.footer-dribbble:hover{
    color: #fcf1f7;
    background-color: #ea4c89;
    border-color: #ea4c89;
    border-radius: 32px;
}
.footer-handshake{
    color: #F7E3AF;
    font-family: 'Lora', serif;
    font-size: 20px;
    text-align: center;
    line-height: 35px;
    border-radius: 32px;
    transition: all 0.5s ease 0.3s;   
}
.footer-handshake:hover{
    color: #fcf1f7;
    background-color: #FC2020;
    border-color: #FC2020;
    border-radius: 32px;
}
    /* WORKS */
    /* RESUME */
    
    .resume-chip2-assembly {
        display: inline-block;
        padding: 0px 15px;
        height: 35px;
        font-size: 18px;
        line-height: 35px;
        border-radius: 20px;
        color: #382f2e;
        background-color: #c4beb5;
        margin: 2px 2px 2px 2px;
    }
    .resume-chip4-intro{
        display: inline-block;
        padding: 0px 15px;
        height: 35px;
        font-size: 18px;
        line-height: 35px;
        border-radius: 20px;
        color: #382f2e;
        background-color: #c9b19b;
        margin: 2px 2px 2px 2px;
    }
}